.container {
  width: 90vw;
  height: 100%;
}

.blocks {
  /* margin-top: 24px;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
}

.blocks div {
  /* background-color: green; */
  border-radius: 25px;
}

.block1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--tan);
  color:var(--brown);
}
.block2 {
  display: flex;
  font-family: Arial;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--tan);
  color:var(--brown);
  font-size: 20px;
}

.block2 p {
  text-align: center;
}

.header {
  width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header div {
  background-color: var(--brown);
  color: var(--light-brown);
  padding: 8px;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 8px;
}

.block1 p {
  font-size: 8vw;
  line-height: 0px;
}

