.container {
  width: 90vw;
  height: 100%;
}

.blocks {
  margin-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
  .blocks {
    display: flex;
    flex-direction: column;
  }
}

.blocks div {
  /* background-color: green; */
  border-radius: 25px;
}

.block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--tan);
  color: var(--brown);
}
.block2 {
  display: flex;
  font-family: Arial;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--tan);
  color: var(--brown);
  font-size: 16px;
}

.block2:hover {
  cursor: pointer;
}

.block2 p {
  text-align: center;
}

.pHeader {
  display: flex;
  flex-direction: column;
  font-family: arial;
  align-items: flex-start;
  font-weight: bold;
}
.pHeader p {
  font-size: 16px !important;
  line-height: normal !important;
}

.mobileHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-left: 24px;
  margin: 16px;
}

.header div {
  background-color: var(--brown);
  color: var(--light-brown);
  padding: 8px;
  margin: 0 16px;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 8px;
}

.infoText {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  align-items: space-between;
  padding: 0 24px;
  padding-bottom: 24px;
  line-height: 20px;
  font-family: Arial;
  font-size: 16px;
}

.block1 p {
  font-size: 8vw;
  line-height: 0px;
}

.txt {
  font-family: "Bamyan";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18vw;
  background-color: var(--brown);
  color: var(--light-brown);
  padding: 16px;
  line-height: 10vw;
  text-align: center;
  padding-bottom: 8vw;
}

@media (max-width: 1024px) {
  .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37.5vw;
    background-color: var(--brown);
    color: var(--light-brown);
    padding: 16px;
    line-height: normal;
    text-align: center;
    padding-bottom: 10vh;
  }

  .smlTxt {
    font-size: 25vw;
    padding-bottom: 8vh;
  }
}

@media (max-width: 1024px) {
  .images {
    height: 100vh !important;
  }

  .dwnLoad {
    height: 40vw !important
  }

  .dwnLoad img {
    width: 30vw !important;
  }

  .imgLeft {
    height: 100vh !important;
    background-position: 27.5% !important;
  }
}
