.popUp {
  font-family: Arial;
  position: absolute;
  background-color: var(--light-brown);
  color: var(--brown);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--tan);
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
  border-radius: 12.5px;
}

@media (max-width: 1024px) {
  .controlsContainer {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .buttons {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.buttons div {
  margin: 0 8px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .buttons div {
    outline:none !important;
  }
}

.bamyan {
  font-family: Arial;
  background-color: var(--brown);
  color: var(--light-brown);
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .bamyan {
    margin-top: 8px;
  }
}

.range {
  display: flex;
}

@media (max-width: 1024px) {
  .range {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .uiPadding {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.range div {
  font-family: Arial;
  font-size: 16px;
  margin: 0 16px;
  text-align: center;
}

/*** Input ***/
.range input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 192px;
}

@media (max-width: 1024px) {
  .range input[type="range"] {
    width: 256px;
  }
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range input[type="range"]::-webkit-slider-runnable-track {
  background: var(--brown);
  height: 2px;
  border-radius: 25px;
}


/******** Firefox ********/
.range input[type="range"]::-moz-range-track {
  background: var(--brown);
  height: 2px;
  border-radius: 25px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: var(--brown);
  height: 20px;
  width: 20px;
  border-radius: 24px;
}

@media (max-width: 1024px) {
  .range input[type="range"]::-webkit-slider-thumb {
    height: 25px;
  width: 25px;
   box-shadow: none;
   margin-top: -12px; /* Centers thumb on the track */
  }
}
/*** End Input ***/

.inputContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 90%;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .inputContainer {
    height: 100vh;
  }
}

.inputContainer textarea[type="text"] {
  font-family: "Bamyan";
  line-height: 100%;
  height: 100%;
  color: var(--brown);
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 12.5px;
  box-sizing: border-box;
  border: none;
  resize: none;
}

@media (max-width: 1024px) {
  .inputContainer textarea[type="text"] {
    /* font-size: 25vh !important;
    line-height: normal !important;
    padding-top: 0px; */
  }
}

.inputContainer textarea[type="text"]:focus {
  background-color: none;
  outline: none;
}

.inputContainer textarea[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--tan);
  opacity: 1; /* Firefox */
  font-family: "bamyan";
  font-size: 128px !important;
  padding-top: 24px;
}

@media (max-width: 1024px) {
  .inputContainer textarea[type="text"]::placeholder {
    padding-top: 16px;
    font-size: 24px;
    text-align: left;
  }
}

.inputContainer textarea[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--brown);
}

.inputContainer textarea[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--brown);
}

/* .inputContainer textarea::placeholder {
 font-family: "Bamyan" !important;
} */
