.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container[data-isOn="true"] {
  justify-content: flex-start;
}

.childrenContainer{
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.childrenContainer[data-isOn="true"] {
  height: 100%;
}