.animContainer {
  position: absolute;
}
.animContainer[data-isOn="true"] {
  position: relative;
  top: 32px;
}

.caveContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cave {
  height: 50px;
  background-color: var(--brown);
  border: 1px solid var(--light-brown);
}

.active {
  background-color: red;
}

.nonActive {
  display: none;
}
