.container {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.video {
  width: 75%;
  height: 75%;
}

.vimeo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:16px;
  /* border: 1px solid var(--brown); */
}

.text {
  margin-left:16px;
  border-radius: 16px;
  color: var(--brown);
  background-color: var(--tan);
  width: 25%;
  /* border: 1px solid var(--brown); */
}

.text p {
  padding: 4px 20px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  line-height: normal;
}


