.container {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.video {
  width: 75%;
  height: 75%;
}

.vimeo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid var(--brown);
}

.text {
  margin: 0 36px;
  border-radius: 25px;
  color: var(--light-brown);
  display: flex;
  justify-content: center;
  background-color: var(--brown);
  width: 25%;
  border: 1px solid var(--light-brown);
}

.text p {
  padding: 16px 32px;
  font-size: 16px;
  font-family: Arial;
  font-weight: 600;
  line-height: 24px;
}


