/* Variables */
:root {
  --light-brown: #8F8679;
  --brown: #3C3731;
  --tan: #7f7769;
  --rds-1: 48px;
  --rds-2: 36px;
  --rds-3: 24px;
  --rds-4: 16px;
}
/* ********* */

/* Typography */
@font-face {
  font-family: 'Bamyan'; 
  src: url('../public/fonts/Bamyan_v1.0.otf');
}
@font-face {
  font-family: 'Bamyan-Centered'; 
  src: url('../public/fonts/Bamyan-Centered.otf');
}
@font-face {
  font-family: 'Farsi';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansarabic/v18/nwpxtLGrOAZMl5nJ_wfgRg3DrWFZWsnVBJ_sS6tlqHHFlhQ5l3sQWIHPqzCfFmufuXqANwfKi0ZX.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.english {
  font-family: Arial;
  font-weight: 600;
}
.bamyan-farsi{
  font-family: 'Bamyan';
}
.farsi{
  font-family: 'Farsi';
}
/* ********** */

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--light-brown);
  color: var(--brown);
  display: flex;
  justify-content: center;
}

p {
  padding:0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


